@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(179.35deg, #a60081 0.56%, #6900bc 99.45%);
	font-family: 'Poppins', sans-serif;
}

.fifa_main {
	background: linear-gradient(90.06deg, #260044 0.05%, #000000 99.95%);
	width: 1300px;
	height: 800px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 40px 70px;
	border-radius: 20px;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.719);
}

.fifa_nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	animation: fade 1s linear forwards;
	opacity: 0;
	animation-delay: 3s;
}

.fifa_nav img {
	width: 7rem;
}

.fifa_nav .fifa_link {
	color: #fff;
	display: flex;
	gap: 40px;
	font-size: 15px;
	font-weight: 600;
}

.fifa_nav .fifa_link .text_pink {
	color: #ff23ce;
}

.fifa_nav .fifa_link p:hover {
	cursor: pointer;
	opacity: 0.8;
}

/* _____________________________________________________ */

.fifa_hero {
	color: #fff;
	position: absolute;
	top: 25%;
	left: 80px;
}

.fifa_hero h1 {
	font-size: 60px;
	font-weight: 900;
	margin-left: -60px;
	background: linear-gradient(90deg, #ffffff 0%, #6401af 20%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	animation: appear 0.5s linear forwards;
}

@keyframes appear {
	100% {
		opacity: 1;
		margin-left: 0;
	}
}

.fifa_hero .text2 {
	margin-top: -30px;
}

.fifa_hero p {
	width: 40%;
	margin-top: -20px;
	opacity: 0;
	font-size: 15px;
	font-weight: 600;
	color: #cdcdcd;
	animation: down 0.5s linear forwards;
}

@keyframes down {
	100% {
		margin-top: 10px;
		opacity: 1;
	}
}

.fifa_search {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1.5px solid #ff00c6;
	border-radius: 167.434px;
	width: 320px;
	height: 40px;
	margin-top: 40px;
	padding: 0 20px;
}

.fifa_search p {
	font-size: 15px;
	color: #b1b1b1;
	margin-bottom: 10px;
	font-weight: 400;
}

.fifa_search img {
	width: 25px;
	animation: move 2s ease-out infinite;
	animation-delay: 4s;
}

@keyframes move {
	0% {
		translate: -10px;
	}
	50% {
		translate: 0;
	}
	100% {
		translate: -10px;
	}
}

/* ______________________________________________ */

.fifa_images .neymar {
	width: 15rem;
	position: absolute;
	top: -50px;
	right: 350px;
	opacity: 0;
	scale: 0.9;
	animation: opac 0.3s linear forwards;
	animation-delay: 0.5s;
	z-index: 9;
}

.fifa_images .ronaldo {
	width: 15rem;
	position: absolute;
	top: -20px;
	right: 150px;
	opacity: 0;
	scale: 0.9;
	animation: opac 0.3s linear forwards;
	animation-delay: 1.5s;
	z-index: 9;
}

.fifa_images .messi {
	width: 23rem;
	position: absolute;
	top: 20px;
	right: 180px;
	opacity: 0;
	scale: 0.9;
	animation: opac 0.3s linear forwards;
	animation-delay: 2.5s;
	z-index: 9;
}

@keyframes opac {
	100% {
		opacity: 1;
		scale: 1;
	}
}

.fifa_lines_1 span {
	position: absolute;
	top: 100px;
	right: 140px;
	border-width: 6px;
	border-style: solid;
	width: 500px;
	transform: rotate(-33.28deg);
	z-index: 5;
	animation: fade 1s linear forwards;
	opacity: 0;
	animation-delay: 3s;
}

.fifa_lines_1 span:nth-child(1) {
	border-image: linear-gradient(to right, rgba(0, 0, 0, 0), #28f19c99) 1;
}
.fifa_lines_1 span:nth-child(2) {
	border-image: linear-gradient(to right, rgba(0, 0, 0, 0), #ff710099) 1;
	margin-top: 30px;
	margin-left: 30px;
}
.fifa_lines_1 span:nth-child(3) {
	border-image: linear-gradient(to right, rgba(0, 0, 0, 0), #01c2ff99) 1;
	margin-top: 60px;
	margin-left: 30px;
}
.fifa_lines_1 span:nth-child(4) {
	border-image: linear-gradient(to right, rgba(0, 0, 0, 0), #ff000099) 1;
	margin-top: 90px;
	margin-left: 40px;
}

/* ----------------- */

.fifa_lines_2 span {
	position: absolute;
	top: 230px;
	right: 140px;
	border-width: 6px;
	border-style: solid;
	width: 500px;
	transform: rotate(-33.28deg);
	z-index: 5;
	animation: fade 1s linear forwards;
	opacity: 0;
	animation-delay: 3s;
}

.fifa_lines_2 span:nth-child(1) {
	border-image: linear-gradient(to right, #b4f8a999, rgba(0, 0, 0, 0)) 1;
}
.fifa_lines_2 span:nth-child(2) {
	border-image: linear-gradient(to right, #ffd03799, rgba(0, 0, 0, 0)) 1;
	margin-top: 30px;
	margin-left: 30px;
}
.fifa_lines_2 span:nth-child(3) {
	border-image: linear-gradient(to right, #6a7eff99, rgba(0, 0, 0, 0)) 1;
	margin-top: 60px;
	margin-left: 30px;
}
.fifa_lines_2 span:nth-child(4) {
	border-image: linear-gradient(to right, #009f5299, rgba(0, 0, 0, 0)) 1;
	margin-top: 90px;
	margin-left: 40px;
}

/* ----------------- */

.fifa_lines_3 span {
	position: absolute;
	top: 330px;
	right: 100px;
	border-width: 6px;
	border-style: solid;
	width: 500px;
	transform: rotate(-33.28deg);
	z-index: 5;
	animation: fade 1s linear forwards;
	opacity: 0;
	animation-delay: 3s;
}

.fifa_lines_3 span:nth-child(1) {
	border-image: linear-gradient(to right, rgba(0, 0, 0, 0), #ffd03799) 1;
}
.fifa_lines_3 span:nth-child(2) {
	border-image: linear-gradient(to right, rgba(0, 0, 0, 0), #fc52ff99) 1;
	margin-top: 30px;
	margin-left: 30px;
}
.fifa_lines_3 span:nth-child(3) {
	border-image: linear-gradient(to right, rgba(0, 0, 0, 0), #05ff0099) 1;
	margin-top: 60px;
	margin-left: 30px;
}
.fifa_lines_3 span:nth-child(4) {
	border-image: linear-gradient(to right, rgba(0, 0, 0, 0), #2878f199) 1;
	margin-top: 90px;
	margin-left: 40px;
}

.round1 {
	width: 400px;
	height: 400px;
	background: rgba(138, 1, 1, 0.488);
	filter: blur(198.057px);
	border-radius: 50%;
	position: absolute;
	top: -60px;
	right: 170px;
	animation: fade 1s linear forwards;
	opacity: 0;
	animation-delay: 3s;
}

.round2 {
	width: 400px;
	height: 400px;
	background: rgba(145, 0, 148, 0.525);
	filter: blur(198.057px);
	border-radius: 50%;
	position: absolute;
	top: 30px;
	right: 270px;
	animation: fade 1s linear forwards;
	opacity: 0;
	animation-delay: 3s;
}

.round3 {
	width: 400px;
	height: 400px;
	background: rgba(84, 51, 156, 0.584);
	filter: blur(198.057px);
	border-radius: 50%;
	position: absolute;
	top: 80px;
	right: 80px;
	animation: fade 1s linear forwards;
	opacity: 0;
	animation-delay: 3s;
}

@keyframes fade {
	100% {
		opacity: 1;
	}
}
